/* Definição de fontes */
@font-face {
  font-family: "Unbounded-bold";
  src: url("/tecboard/fonts/Unbounded-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-regular";
  src: url("/tecboard/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Estilo Desktop */
body {
  background-color: #0e1014;
  color: #ffffff;
}

header img {
  display: block;
  margin: 75px 0 0 360px;
}

h1 {
  font-size: 64px;
  font-family: "Unbounded-bold", sans-serif;
  text-align: center;
  margin-top: 60px;
}

h1 span {
  color: #9747ff;
}

p {
  font-size: 24px;
  font-family: "Poppins-regular", sans-serif;
  text-align: center;
  margin: 24px auto 0;
  width: 792px;
}

a {
  color: #ffffff;
  font-size: 24px;
  font-family: "Poppins-regular", sans-serif;
  text-decoration: none;
  background-color: #9747ff;
  width: 340px;
  height: 66px;
  display: block;
  text-align: center;
  line-height: 66px;
  border-radius: 36px;
  margin: 40px auto;
}

a:hover {
  background-color: #8233e8;
}

section img {
  display: block;
  width: 792px;
  height: 446px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  header img {
    margin: 65px 0 0 60px;
  }

  h1 {
    margin-top: 72px;
  }

  p {
    width: 648px;
  }

  section img {
    width: 659px;
    height: 446px;
  }
}

@media (max-width: 375px) {
  header img {
    margin: 32px 0 0 16px;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
    width: 341px;
  }

  a {
    font-size: 20px;
    width: 251px;
  }

  section img {
    width: 341px;
    height: 230px;
  }
}
